# Example Environment Variables
# Copy this file to .env.dev, .env.stage, or .env.prod and fill in your values

# Hugo Configuration
HUGO_ENV=development
HUGO_BASE_URL=http://localhost:1313

# ===  API Configuration ===
# URL addresses
API_BASE_URL=https://localhost:1337/api
API_BASE_URL_V1="${API_BASE_URL}/v1"
API_BASE_URL_V2="${API_BASE_URL}/v2"

# API Security - You need to add some keys here to access the API,
# you should be able to get them from your API provider.
#API_KEY=your-api-key-here
#API_TOKEN=your-api-token-here

# Build Configuration
MINIFY=false
BUILD_DRAFTS=true
